<div>
    <div id="info"  class="info">
        <input class="tasktitle" value = {{list.name}} (keyup)='changeListName($event)'/>
    </div>
    <div id ="newTaskDef" class ="newtaskDetail" > 
        <div class = "newtask" *ngFor = "let task of list.tasks" (click) = 'getTask(task)'>
        <input type = "checkbox" id = "checkboxinput"/> <span> {{task.name}} </span>
        </div>
    </div>

    <div class="newtask">
        <span class ="plus"></span>
        <input id="add-new-task" class="addtask" type="text" 
            placeholder="Add task" (keyup)='addTask($event)' />   
    </div>
</div>


<div>
<subtask [task]="currentTask"></subtask>
</div>
                      
