<div class ="container">
<div class = "tasklength">
    <div id="info"  class="info">
        <input class="tasktitle"  [(ngModel)] = "list.name" value = {{list?.name}} (keyup)='changeListName($event)'/>
    </div>
    <div id ="newTaskDef" class ="newtaskDetail" *ngFor = "let task of list?.tasks" > 
        <div class = "newtask" [ngClass] = "task?.isFinished ? 'lineThrough' : 'newtask'" 
          (click) = 'getTask(task)'>
        <input  type = "checkbox" id = "checkboxinput" [checked] =  "task?.isFinished" (change)="changeCheckboxStatus(task)"/> <span> {{task.name}} </span>
        <p>{{task.completedSubtaskcount}} of {{task.subtaskcount}}  
        <span><input class="imp_check" type = "checkbox" (change)= "switchToImportant(task)"/></span>
        </p>
        
        </div>
    </div>

    <div class="newtask">
        <span class ="plus"></span>
        <input id="add-new-task" class="addtask" type="text" 
            placeholder="Add task" (keyup)='addTask($event)' />   
    </div>
</div>


<div class = "subtask_design">
<subtask [task]="currentTask" [list] = "currentList"></subtask>
</div>
</div>
                      
