<div class="container">
<div id="mySidebar" class="sidenav">
    <div class = "sidecontent" >
    <a href="#"><i class = "iconsize sun"></i> &nbsp;My Day</a>
    </div>
    <div class = "sidecontent" (click) = 'getTitle(ImportantList)'>
    <a href="#"><i class = "iconsize star"></i>&nbsp; Important</a>
    </div>
    <div class = "sidecontent">
    <a href="#"><i class = "iconsize calender"></i>&nbsp;Planned</a>
    </div>
    <div class = "sidecontent">
    <a href="#"><i class = "iconsize person"></i>&nbsp;Assigned to me</a>
    </div>
    <div class = "sidecontent" (click) = 'getTitle(defaultList)'>
    <a href="#"><i class = "iconsize home"></i>&nbsp;Task</a>
    </div>
    
    
    <div id ="taskList" class ="addlists"  >
        <div class ="taskPointer"  *ngFor = "let list of lists" (click) = 'getTitle(list)' >
            <i class="iconsize listicon"></i>
            <input class = "addList" [(ngModel)] = "list.name"  type = "text" value = "{{list?.name}}" />
            {{list.taskCount}}
        </div>
        
    </div>
    
    <div class = newlist >
    <span class ="iconsize plus"></span><input  id = "taskinput" (keyup)='addList($event)' class="addList" type="text" placeholder= "New List"/> 
    </div>
 
</div>  

<div id="todo-list" class="todolist">
    <task [list]="currentList" [impList]="ImportantList"></task>
</div>
</div>
