.header {
    background-color:#0E7BD8;
    padding: 7px 6px;
    color: white;
    text-align: left;
    margin: 0px;
    width: 100%;
}
.headertext {
    font-family:segoe-semibold;
    margin:5px;
    font-size:16px;
}  